<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head> 

   <body style="background-color: beige;">
    <div class="d-grid gap-2 justify-content-end" style="padding-right: 2rem;" >
            <a href="logout" class="btn btn-primary  mt-2" type="button">logout</a> 
    </div>
  <section> 
      <div class="container px-2">
         <div class="row d-flex flex-row justify-content-around pl-2 ">
            <div class="card col-sm-3   mb-3 mt-5" style="width: 18rem; border-radius: 20px;" >
                <img src="https://images.samsung.com/is/image/samsung/p6pim/in/sm-m326bzbiins/gallery/in-galaxy-m32-5g-6gb-ram-sm-m326bzbiins-497616034?$684_547_PNG$" class="card-img-top" alt="...">
                <div class="card-body ">
                <h5 class="card-title">OnePlus 9R 5Ge</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Click to buy</a>
                </div>
            </div>

            <div class="card col-sm-3  mb-3 mt-5" style="width: 18rem;  border-radius: 20px;">
                <img src="https://images.samsung.com/is/image/samsung/p6pim/in/sm-m326bzbiins/gallery/in-galaxy-m32-5g-6gb-ram-sm-m326bzbiins-497616034?$684_547_PNG$" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">OnePlus 9R 5G</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Click to buy</a>
                </div>
            </div>

            <div class="card col-sm-3  mb-3 mt-5" style="width: 18rem;  border-radius: 20px;">
                <img src="https://images.samsung.com/is/image/samsung/p6pim/in/sm-m326bzbiins/gallery/in-galaxy-m32-5g-6gb-ram-sm-m326bzbiins-497616227?$684_547_PNG$" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">OnePlus 9R 5G</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Click to buy</a>
                </div>
            </div>
            

            
                <div class="card col-sm-3  mb-3 mt-5 " style="width: 18rem;  border-radius: 20px;">
                <img src="https://images.samsung.com/is/image/samsung/p6pim/in/sm-m326bzbiins/gallery/in-galaxy-m32-5g-6gb-ram-sm-m326bzbiins-497616034?$684_547_PNG$" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title">OnePlus 9R 5G</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Click to buy</a>
                </div>
                </div>
        
                <div class="card col-sm-3  mb-3 mt-5" style="width: 18rem;  border-radius: 20px;">
                <img src="https://images.samsung.com/is/image/samsung/p6pim/in/sm-m326bzbiins/gallery/in-galaxy-m32-5g-6gb-ram-sm-m326bzbiins-497616034?$684_547_PNG$" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">OnePlus 9R 5G</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Click to buy</a>
                </div>
                </div>
        
                <div class="card col-sm-3  mb-3 mt-5" style="width: 18rem;  border-radius: 20px;">
                <img src="https://images.samsung.com/is/image/samsung/p6pim/in/sm-m326bzbiins/gallery/in-galaxy-m32-5g-6gb-ram-sm-m326bzbiins-497616034?$684_547_PNG$"  class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">OnePlus 9R 5Ge</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Click to buy</a>
                </div>
                </div>
            </div> 
        </div>
    </section>  
    </body>
    
        <!-- <script>
            setTimeout(function(){
                if ($('#msg').length > 0){
                    $('#msg').remove();
                }
            } ,2000      
        </script> -->


</html>